<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="XnVNITE.net" publicKeyToken="399870656fc6c787"/>
        <!-- Redirecting to newest version (we're backwards compatible to versions up to 1.3.1.0). -->
        <bindingRedirect oldVersion="1.3.1.0 - 1.5.2.21"
                         newVersion="1.5.2.21"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>